.key{
font-size: 40px;
font-family: sans-serif;
}

.kew{
font-size: 40px;
font-family: sans-serif;
position: absolute;
left: 600px;
}

.kep{
font-size: 40px;
font-family: sans-serif;
position: absolute;
left: 230px;
top:150px;
}

.keu{
font-size: 40px;
font-family: sans-serif;
position: absolute;
left: 830px;
top:200px;
}

.yes{
    font-size: 100px;
    font-family: sans-serif;
    position: absolute;
    left:900px;
    top:300px;
}

.yep{
    font-size: 100px;
    font-family: sans-serif;
    position: absolute;
    left:600px;
    top:300px;
}

.yeo{
    font-size: 100px;
    font-family: sans-serif;
    position: absolute;
    left:200px;
    top:100px;
}

.yek{
    font-size: 300px;
    font-family: sans-serif;
    position: absolute;
    left:200px;
    top:100px;
}

.yel{
    font-size:50px;
    font-family: sans-serif;
    position: absolute;
    left:200px;
    top:100px;
}
.ye{
    font-size:50px;
    font-family: sans-serif;
    position: absolute;
    left:10px;
    top:40px;
}

.de{
    font-size:700px;
    font-family: sans-serif;
    position: absolute;
    left:10px;
    top:600px;
}

.del{
    font-size:900px;
    font-family: sans-serif;
    position: absolute;
    left:10px;
    top:800px;
}

.del{
    font-size:900px;
    font-family: sans-serif;
    position: absolute;
    left:10px;
    top:800px;
}
.ppp{
    font-size:200px;
    font-family: sans-serif;
    position: absolute;
    left:0px;
    top:200px;
}
.pppp{
    font-size:100px;
    font-family: sans-serif;
    position: absolute;
    left:300px;
    top:800px;
}

.ppppw{
    font-size:100px;
    font-family: sans-serif;
    position: absolute;
    left:1700px;
    top:1000px;
}

.yekk{
    font-size: 300px;
    font-family: sans-serif;
    position: absolute;
    left:900px;
    top:800px;
}

.yekkk{
    font-size: 300px;
    font-family: sans-serif;
    position: absolute;
    left:1900px;
    top:800px;
}

.bbbb{
    font-size: 500px;
    font-family: sans-serif;
    position: absolute;
    left:2900px;
    top:700px;
}

.bbbbb{
    font-size: 100px;
    font-family: sans-serif;
    position: absolute;
    left:2900px;
    top:-100px;
}

.bbbbbb{
    font-size: 500px;
    font-family: sans-serif;
    position: absolute;
    left:1900px;
    top:-100px;
}

.keuu{
font-size: 40px;
font-family: sans-serif;
position: absolute;
left: 1930px;
top:400px;
}

.keuuu{
font-size: 40px;
font-family: sans-serif;
position: absolute;
left: 3930px;
top:400px;
}

.keuuuu{
font-size: 700px;
font-family: sans-serif;
position: absolute;
left: 3930px;
top:400px;
}


.keuuuuu{
font-size: 200px;
font-family: sans-serif;
position: absolute;
left: 3930px;
top:400px;
}