.y{
   font-size: 20px;
    position: absolute;
    left: 300px;
    top:200px;
     
}

.x{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:200px;
}

.a{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:220px;
}

.b{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:240px;
}

.c{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:260px;
}

.d{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:280px;
}
.e{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:300px;
}

.f{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:320px;
}

.g{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:340px;
}

.h{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:360px;
}

.i{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:380px;
}

.j{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:400px;
}

.k{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:420px;
}

.l{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:440px;
}

.m{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:460px;
}

.n{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:480px;
}

.o{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:500px;
}

.p{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:520px;
}

.q{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:540px;
}

.r{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:520px;
}

.s{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:540px;
}

.t{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:560px;
}

.u{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:580px;
}

.v{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:600px;
}

.w{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:620px;
}

.w{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:620px;
}

.ww{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:640px;
}

.www{
   font-size: 20px;
    position: absolute;
    left: 580px;
    top:660px;
    color:black;
}