 body {
    background-image: url("disney.jpg");
    background-blend-mode:overlay;
    
}  

.disney{
    font-family:serif;
    font-size: 200px;
    position: absolute;
    top:40px;
    left: 40px;
    color: black;
    
}