.b{
font-size: 300px;
font-style: oblique;
position: fixed;
left: 300px;
color: blanchedalmond;
}

.c{
font-size: 400px;
position:absolute;


}

.d{
font-size: 300px;
position:absolute;
top:-100px;
}

.e{
font-size:400px;
position:absolute;
top:300px;
}

.f{
font-size: 600px;

font-stretch: expanded;
position:absolute;
top:500px;

}