.start{
    font-family: sans-serif;
    font-size: 100px;
    position: fixed;
    top:350px;
}

.line{
   font-size: 100px; 
    position: absolute;
    bottom:420px;
    font font-family: sans-serif;
    left:760px;
    color: 
    deeppink;
}

.end{
    font-family: sans-serif;
    font-size: 50px;
    position: absolute;
    top:370px;
    left:7000px;
    
}

.ot{
    
    font-family: sans-serif;
    font-size: 50px;
    position: absolute;
    top:330px;
    left:8300px;
    
}

.otw{
    
    font-family: sans-serif;
    font-size: 150px;
    position: absolute;
    top:530px;
    left:7450px;
    color: deeppink;
    
}

.back{
  background-color: blanchedalmond;
  

}